<article>
  <h1>
    Training!
  </h1>
  <section>
    <h2>Plan</h2>
    <div *ngIf="trainingPlan">{{ trainingPlan | json }}</div>
  </section>
  <section *ngIf="!loading">
    <div *ngIf="trainingPlan.scope === scope.TEST; then test; else training">
      load
    </div>
    <ng-template #test>
      <muskul-add-test></muskul-add-test>
    </ng-template>
    <ng-template #training>
      <muskul-add-training [trainingPlan]="trainingPlan"></muskul-add-training>
    </ng-template>
  </section>
  <muskul-loading *ngIf="loading"></muskul-loading>
  <a routerLink="/app">app</a>
</article>
