<article>
  <h1>
    Training!
  </h1>
  <section>
    <h2>Plan</h2>
    <div>{{ trainingPlan | json }}</div>
  </section>
  <section *ngIf="!loading">
    <div *ngIf="trainingPlan.scope === scope.TEST; then test; else training">
      load
    </div>
    <ng-template #test>
      <muskul-add-test></muskul-add-test>
    </ng-template>
    Scope {{ trainingPlan.scope }}  
    <ng-template #training>
      <muskul-add-training [scope]="trainingPlan.scope"></muskul-add-training>
    </ng-template>
  </section>
  <a routerLink="/app">app</a>
</article>
